

#contenidorPare {
    display: grid;
    place-items: center; /* centra horizontal y vertical */
}

#rallaHoritzontal {
    margin-top: 1em;
    border-bottom: 2px dashed red;
    width: 50%;
}

section fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
}

.missatges {
    font: bold;
}

#sortidaDades10perCent {
    border: 1px solid blue;
    border-radius: 1em;
}